.user{
    margin: 2rem auto;
    padding: 0.5rem;
    background-color: rgba(38, 34, 39, 0.826);
    width: 70%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    border-color: white;
    border-bottom: 0.5rem;
}
.user li{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    display: block;
    text-align-last: left;
    margin:0.5rem 4rem 1rem 0.5rem;
    border: 0.15rem solid white;
    border-top: 0.5rem;
    border-left: 0.5rem;
    border-right: 0.5rem;
    
}