.form{
    margin: 2rem auto;
    padding: 0.5rem;
    background-color: rgba(38, 34, 39, 0.826);
    width: 70%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.form label{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    display: block;
    text-align-last: left;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.form input{
    font-size: 1.25rem;
    color: black;
    display: block;
    text-align-last: left;
    margin: 0.5rem 0 1rem 0.5rem;
    border-radius: 10px;
    border-style: none;
    width: 40rem;
    padding: 0.5rem 0 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
}
.form button{
    background-color: rgb(200, 200, 200);
    font-size: 1.5rem;
    color: black;
    margin: 2rem 0.5rem 1rem 1rem;
    border-radius: 10px;
    border: 0px none;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    display: block;
    right: -80%;
    position:relative;
    transition: all 0.3s ease-in-out;
}
@media (max-width:940px) {
    .form button{
        right: -32%;
        transition: all 0.3s ease-in-out;
    }
    .form input{
        width: 20rem;
        transition: all 0.3s ease-in-out;
    }
}
@media (max-width:500px) {
    .form button{
        right: -15%;
        transition: all 0.3s ease-in-out;
    }
    .form input{
        width: 10rem;
        transition: all 0.3s ease-in-out;
    }
}
.form button:hover, .form button:active{
    background-color: rgb(145, 145, 145);
}