.nav {
  /* position: relative;
  right: -70%; */
  margin-right: 2rem;
}
.nav ul {
  list-style: none;
  margin: 2rem;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.nav li {
  margin-right: 2rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover,
.nav a:active {
  color: #f3cafb;
}

.nav button {
  font: inherit;
  background: #40005d;
  border: 2px solid white;
  padding: 0.5rem 1.5rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
}

.nav button:focus {
  outline: none;
}

.nav button:hover,
.nav button:active {
  color: #f3cafb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}
